body{
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}
header{
    background-color: rgb(240, 247, 247);
}
nav{
    background-color: rgb(240, 245, 250);
}
main{
    background-color: rgb(240, 239, 239);
    font-size: 30px;
}
footer{
    background-color: rgb(214, 243, 245);
}
li{
    display: inline-block;
    width: 50%;
}
h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(111, 167, 167);
}
p{
    line-height: 105%;
}
a{
    text-decoration: none;
    color:black;
}
